footer {
    /* BOX MODEL */
    margin-inline: auto;
    border-top: 2px solid white;
    /* OTHER */
    color: white;
    font-size: 30px;
}

.Author {
    /* OTHER */
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
}

.Author:hover {
    color: tomato;
}