.Author {
    /* BOX MODEL */
    margin-top: 5%;
    border-top: 2px solid white;
    /* OTHER */
    color: white;
    font-size: 14px;
    font-style: italic;
}

.Author a {
    /* OTHER */
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: none;
}

.Author a:hover {
    color: tomato;
}