.landing-content {
    /* Box Model */
    height: 100%;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    font-size: 6rem;
}

.landing-body {
    font-size: 2rem;
}

.swipe-down-icon {
    margin-top: 1em;
}