
.who-content {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
    /* Box Model */
    padding-block: 2rem;
    height: inherit;
}

.avatar-container {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Box Model */
    margin-inline: auto;
    padding-block: 1rem;
    border-bottom: 2px dotted #E7EBEC;

    /* other */
    font-size: 24px;
}

.social-media-links {
    /* Layout */
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.link-item {
    list-style: none;
}

.intro {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* other */
    line-height: 2.5rem;
    font-size: 1.2rem;
}

author {
    font-size: 1.2rem;
    font-weight: bold;
}

.intro-summary {
    line-height: 1.8rem;
    font-size: 1.2rem;
}