.about-me-content {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Box Model */
  margin-inline: auto;
  padding-block: 1rem;
  /* border-bottom: 2px dotted #E7EBEC; */
}

.social-media-links {
  /* Layout */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-inline: 0px;
}

.link-item {
  list-style: none;
}

.link i:hover {
  color: #E63333;
}

.intro {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* other */
  line-height: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.developer-name {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Gloria Hallelujah";
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem
}

.taiwan-flag {
  display: inline;
  width: 30px;
  height: auto;
}

.intro-summary {
  line-height: 0.5rem;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
  .avartar-img {
    max-width: 210px;
    height: auto;
  }
}

@media (max-width: 1100px) {
  .avartar-img {
    max-width: 100%;
    height: 180px;
  }
}