.contact-container {
  padding-inline: 1rem;
  min-width: 100vw;
  text-align: center;
  overflow-y: hidden;
}

.list-container {
  list-style: none;
}

.list-item {
  margin-block: 1rem;
}

.list-item::before {
  content: "🌟 ";
}

.list-item::after,
.list-item::after,
.link::after,
.link::before {
  font-size: 1rem;
  color: #252525;
}

.list-item:first-child::after {
  content: " (click to copy) ";
}

.list-item:nth-child(2)::after,
.link::after {
  content: " (open in new tab) ";
}

.list-item:last-child::after {
  content: " (through Calendly) ";
}

.list-item:hover {
  color: #e63333;
  cursor: pointer;
}

.link::before {
  content: "In case you need a ";
}

.link:hover {
  color: #e63333;
}