.contact-container-grid {
  padding-inline: 1rem;
  min-width: 100vw;
  text-align: left;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 2rem
}

.contact-container-flex {
  padding-inline: 1rem;
  min-width: 100vw;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list-container {
  list-style: none;
}

.list-item {
  margin-block: 1rem;
}

.list-item::before {
  content: "🌟 ";
}

.list-item:hover {
  color: #afc4e5;
  cursor: pointer;
}