.container {
  max-width: 950px;
  margin-inline: auto;
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.developer-name {
  font-family: "Gloria Hallelujah";
}